* {
  margin: 0;
  padding: 0;
}

.cover_img {
  background-image: url("../images/cover_img.jpg");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 235, 0.5);
}

.home_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-top: 2rem;
}

.logo {
  width: 150px;
  height: 160px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  margin-top: 1rem;
}

.home_subtitle {
  margin-top: 1rem;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.home_text {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 4rem;
}

.home_hr {
  background: #1b1464;
  height: 1px;
}

#forget_password {
  color: #00b300;
  font-size: 16px;
  margin-left: 45px;
}

#forget_password:hover {
  color: #00b300;
}

.forget_text {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* Navbar */

.navHeading {
  margin-left: 100px;
}

.homeLi {
  margin-right: 30px;
  color: #f2f2f2;
  text-transform: none;
  margin-top: 4px;
}

.homeLi:hover {
  text-decoration: none;
  color: #bfbfbf;
  transition: 1s;
}

.nav_img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 80px;
  margin-top: 3px;
}

.userHome_div {
  background: #e6e6e6;
}

.userImg {
  height: 300px;
  width: 250px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  margin-top: 1rem;
}

.table_text {
  padding: 10px !important;
  font-size: 16px;


}


.hr_margin {
  color: red !important;
}



.bm-item {
  display: inline-block;
  align-items: center;
  margin-left: 3rem;
  /* background: yellow; */
  text-decoration: none;
  color: #ffffff;
  /* margin-top: 1rem; */
  color: white !important;
  transition: color 0.2s;
  padding: 10px;
  margin-bottom: 0;
}

.bm-item:hover {
  color: green;
  transition: 2s;
  text-decoration: none;
}


.notice_para {
  font-size: 16px;
  padding: 12px;
  text-align: justify;
}

.iconStyle {
  color: pink;
  margin-bottom: 5px;
}

.noticeSubTitle {
  color: red;
  text-decoration: none;
  font-size: 15px;
}

.noticeSubTitle:hover {
  text-decoration: none;
}

.title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  background-color: #bfbfbf;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-radius: 40px 40px;
  height: 35px;

}

.stdImg {
  width: 180px;
  height: 200px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  margin-bottom: 1rem;
  margin-top: 0;
}

.studentProfileMargin {
  margin-top: 2rem;
}

.studentProfile {
  font-size: 14px;
}

#resultFont {
  font-size: 8px;
  overflow: hidden;
}

.borderP {
  border: 9;
  width: 500px;
  height: 50px;
}

.routine {
  width: 100%;
}

.routineTime {
  font-size: 16px;
}

.routineTitle {
  font-size: 16px;
}

.routineBtn {
  margin-top: 1rem;
  font-size: 15px;

}

/* .resultPage {
  margin: 0 auto;
} */

.select-box {
  width: 500px;
  position: relative;

}

.select-box select {
  height: 42px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
  -webkit-appearance: none;
  appearance: none;
}

.select-box:after {
  content: " ";
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -8px;
  border-top: 8px solid #ccc;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  pointer-events: none;
}

.result-button {
  float: right;
  margin-top: 1rem;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 160px;
}

.tableFont {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.radioBtn {
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 1rem;
}

.radioBtnStyle {
  margin-left: 30px;
  position: relative;
}

.personalContact {
  width: 80%;
  height: 40px;
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 13px;

}

.guardianContact {
  width: 70%;
  height: 40px;
  margin-left: 100px;
  margin-bottom: 10px;

}

.personalContactMargin {
  width: 80%;
  height: 80px;
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: initial;

}

.personalContactTitle {
  font-size: 13px;
}

.personalButton {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;

}

.firstPersonal {
  font-size: 15px;
}

.sidebarUl {
  background: #4d4d4d;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  margin-top: 1rem;
  margin-bottom: 0;
}

.sidebar_menu {
  background: #4d4d4d;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.side_menu {
  display: flex;
  height: 100%;
}

.libraryChart {
  font-size: 16px;
}

.courseInfo {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 400px;
}

.courseInfoHeader {
  font-size: 18px;
}

/* /* Media Query */
/* 
@media screen and (max-width: 324px) {
  .sidebar_menu {
    height: 100%;
  }
} */

/* All media query */


@media screen and (max-width: 320px) {

  .home_title {
    margin-top: 0;
    font-size: 30px;
  }

  .logo {
    width: 90px;
    height: 110px;
  }

  .cover_img {
    height: 400px;
  }

  .home_subtitle {
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .home_text {
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 4px;
    margin-top: 0;
  }

  .home_hr {
    width: 220px;
    margin-left: 15px;
    margin-top: 0;
  }

  .formStyle {
    width: 250px;
    margin-left: 20px;
  }

  .formText {
    margin-left: 20px;
  }

  #btn {
    margin-left: 20px;
  }


  .userImg {
    height: 140px;
    width: 120px;
  }

  .table_text {
    font-size: 11px !important;
  }

  .notice_para {
    font-size: 12px;
  }

  .routine {
    width: 200px;
    height: 600px;
    margin-left: 0;
    font-size: 5px;
  }

  .routineTime {
    font-size: 6px;
  }

  .routineTitle {
    font-size: 6px;
  }

  .sidebarUl {
    width: 120px !important;

  }

  .bm-item {
    margin-left: -5px;
    font-size: 12px;
  }

  .select-box {
    width: 80px;
    position: relative;
    margin-right: 30px !important;

  }

  .title {
    font-size: 15px;
  }

  .resultOption {
    font-size: 11px;
  }

  .select-box select {
    font-size: 13px;
  }


  .result-button {
    font-size: 14px;
    width: 70px !important;
    margin-right: 20px;

  }

  .personalContact {
    width: 90px;
    height: 40px;
    margin-left: 0px !important;
    margin-bottom: 10px;
    font-size: 10px;

  }

  .guardianContact {
    width: 90px;
    height: 40px;
    margin-left: 0px !important;
    margin-bottom: 10px;
    font-size: 10px;

  }


  .personalContactTitle {
    font-size: 11px;
    margin-left: 0 !important;
  }


  .personalContactMargin {
    width: 90px;
    height: 60px;
    margin-left: 0px;
    font-size: 11px;

  }

  .studentProfile {
    font-size: 11px;
  }


  .firstPersonal {
    font-size: 11px;
  }

  .libraryChart {
    font-size: 11px;
  }

  .courseInfo {
    font-size: 11px;
  }


}


@media only screen and (max-width: 480px) and (min-width: 320px) {

  .home_title {
    margin-top: 0rem;
    font-size: 22px;
  }

  .logo {
    width: 90px;
    height: 110px;
  }

  .cover_img {
    height: 100vh;
  }

  .home_subtitle {
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .home_text {
    font-size: 15px;
    margin-left: 17px;
    margin-bottom: 4px;
    margin-top: 0;
  }

  .home_hr {
    width: 250px;
    margin-left: 17px;
    margin-top: 0;
  }

  .formStyle {
    width: 250px;
    margin-left: 20px;
  }

  .formText {
    margin-left: 20px;
  }

  #btn {
    margin-left: 20px;
  }

  .forget_text {
    font-size: 12px;
    margin-left: 15px;
  }

  .sidebarUl {
    width: 150px;
  }

  .userHome_div {
    font-size: 11px !important;
  }

  .bm-item {
    margin-left: 30px;
    font-size: 13px;
  }

  .userImg {
    height: 150px;
    width: 130px;
  }

  .table_text {
    font-size: 14px;
  }


  .notice_para {
    font-size: 13px;
  }


  .select-box {
    width: 130px;
    position: relative;
  }

  .title {
    font-size: 15px;
    width: 130px;
  }


  .resultOption {
    font-size: 11px;
  }

  .select-box select {
    font-size: 13px;
  }


  .result-button {
    font-size: 13px;
    width: 120px;

  }


  .personalContact {
    width: 90px;
    height: 40px;
    margin-left: 0px !important;
    margin-bottom: 10px;
    font-size: 10px;

  }

  .guardianContact {
    width: 90px;
    height: 40px;
    margin-left: 0px !important;
    margin-bottom: 10px;
    font-size: 10px;

  }


  .personalContactTitle {
    font-size: 11px;
    margin-left: 0 !important;
  }


  .personalContactMargin {
    width: 90px;
    height: 60px;
    margin-left: 0px;
    font-size: 11px;

  }


  .routine {
    width: 200px;
    height: 600px;
    margin-left: 0;
    font-size: 5px;
  }

  .routineTime {
    font-size: 6px;
  }

  .routineTitle {
    font-size: 6px;
  }

  .libraryChart {
    font-size: 11px;
  }

  .courseInfo {
    font-size: 12px;
  }

}


@media only screen and (max-width: 600px) and (min-width: 480px) {

  .userImg {
    height: 180px;
    width: 150px;
  }

  .table_text {
    font-size: 14px;
  }

  .notice_para {
    font-size: 14px;
  }

  .sidebarUl {
    width: 220px;
  }

  .bm-item {
    margin-left: 30px;
  }

  .userImg {
    height: 150px;
    width: 130px;
  }

  .table_text {
    font-size: 14px;
  }


  .notice_para {
    font-size: 13px;
  }


  .select-box {
    width: 130px;
    position: relative;
  }

  .title {
    font-size: 18px;
  }


  .resultOption {
    font-size: 11px;
  }

  .select-box select {
    font-size: 13px;
  }


  .result-button {
    font-size: 13px;
    width: 120px;

  }

  .libraryChart {
    font-size: 12px;
  }


  .courseInfo {
    font-size: 12px;
  }


}

@media only screen and (max-width: 768px) and (min-width: 600px) {

  .userImg {
    height: 200px;
    width: 170px;
  }

  .table_text {
    font-size: 15px;
  }

  .notice_para {
    font-size: 14px;
  }


  .libraryChart {
    font-size: 13px;
  }

  .courseInfo {
    font-size: 13px;
  }



}

@media only screen and (max-width: 900px) and (min-width: 768px) {

  /* UserHome */
  .userImg {
    height: 220px;
    width: 190px;
  }

  .table_text {
    font-size: 16px;
  }


  .notice_para {
    font-size: 14px;
  }

  #forget_password {
    font-size: 15px;
    margin-left: 20px;
  }

  .btn {
    width: 68px;
    height: 40px;
    font-size: 13px;
  }

  #forget_password {
    font-size: 12px;
    margin-left: 0px;
  }

  .content {
    margin-left: 0px;
  }

  .title {
    font-size: 18px;
  }


  .libraryChart {
    font-size: 13px;
  }

  .courseInfo {
   font-size: 13px;
 }

 .courseInfoHeader {
   font-size: 15px;
 }

}

@media only screen and (max-width: 1024px) and (min-width: 900px) {

  /* UserHome */
  .userImg {
    height: 240px;
    width: 200px;
  }

  .table_text {
    font-size: 16px;
  }

  .notice_para {
    font-size: 15px;
  }

  .btn {
    width: 75px;
    height: 40px;
    font-size: 15px;
  }

  #forget_password {
    font-size: 16px;
    margin-left: 5px;
  }

  .title {
    font-size: 18px;
  }

  .libraryChart {
    font-size: 14px;
  }

  .courseInfo {
    font-size: 14px;
  }



}


@media screen and (min-width: 1024px) {

  .home_title {
    font-size: 35px;
  }

  .logo {
    height: 200px;
    width: 170px;
  }

  .home_subtitle {
    font-size: 22px;
  }

  .home_text {
    font-size: 20px;
  }

  .formStyle {
    width: 300px;
    height: 60px;
    font-size: 20px;
  }

  .formText {
    font-size: 23px;
  }

  .btn {
    width: 100px;
    height: 50px;
    font-size: 22px;
  }

  #forget_password {
    font-size: 18px;
    margin-left: 20px;
  }

  .title {
    font-size: 18px;

  }

  .libraryChart {
    font-size: 14px;
  }

  .courseInfo {
    font-size: 15px;
  }

  .courseInfoHeader {
    font-size: 16px;
  }


}